@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .text-center {
    text-align: center !important;
  }
  li.active {
    -webkit-text-stroke: 0.2px gray;
  }
  @font-face {
    font-display: block;
    font-family: "Outline Pixel7 Solid";
    src: local("Outline Pixel7 Solid"),
      url("/assets/fonts/outline_pixel-7_solid.ttf") format("truetype");
  }

  @font-face {
    font-display: block;
    font-family: "Small Pixel7";
    src: local("Small Pixel7"),
      url("/assets/fonts/small_pixel-7.ttf") format("truetype");
  }

  .s3-stroke-0_5 {
    -webkit-text-stroke: 0.5px #795440;
  }

  .s3-stroke-1 {
    -webkit-text-stroke: 1px #795440;
  }

  .s3-stroke-black-1 {
    -webkit-text-stroke: 1px #000;
  }
  .s3-stroke-1_5 {
    -webkit-text-stroke: 1.5px #795440;
  }

  .s3-stroke-2 {
    -webkit-text-stroke: 2px #795440;
  }

  .s3-text-normal {
    @apply font-smpx text-[14px] tablet1:text-[24px] leading-3 tablet1:leading-6;
  }

  .s3-text-welcome-description {
    @apply font-smpx text-center text-[24px] tablet1:text-[44px]
      mx-auto 
      s3-stroke-0_5 tablet1:s3-stroke-1 leading-[20px] tablet1:leading-[48px];
  }

  .s3-text-sectiontitle {
    @apply font-outpxd text-[24px] tablet1:text-[42px] s3-stroke-1 tablet1:s3-stroke-2 leading-8 tablet1:leading-10;
  }

  .custom-select {
    position: relative;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    @apply top-[10px] tablet1:top-[14px];
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    @apply top-[4px] tablet1:top-[7px];
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: black;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    @apply px-3;
  }

  .select-selected {
    color: white;
    @apply bg-coinselect bg-cover bg-repeat-round w-[90px] items-center text-left h-full;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #dfccb7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tabs-component {
  background-image: url(/assets/images/back1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;
}

@media screen and (max-width: 1400px) {
  .tabs-component {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .tabs-component {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 1000px) {
  .tabs-component {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 870px) {
  .tabs-component {
    margin-left: 5%;
    margin-right: 5%;
  }
  .tabs-component [role="tablist"] button {
    font-size: initial !important;
  }
}

@media screen and (max-width: 780px) {
  .tabs-component {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tabs-component [role="tabpanel"] {
    padding: 10px 40px !important;
    height: 450px !important;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-family: 'Small Pixel7';
    font-size: initial !important;
  }

  .tabs-component [role="tabpanel"] input, .deposit, .tabs-component [role="tabpanel"] button{
    height: 20px !important;
    font-size: 15px !important;
  }
  
  .tabs-component [role="tabpanel"] {
    padding: 5px 40px !important;
    height: 350px !important;
  }

  .mb-5{
    margin-bottom: 10px !important;
  
  }

  .mb-3{
    margin-bottom: 5px !important;
  
  }
  .mr-10 {
    margin-right: 10px !important;
  }
  .mt-10 {
    margin-top: 10px !important;
  }
}


@media screen and (max-width: 425px) {
  .tabs-component [role="tabpanel"] {
    height: 250px !important;
  }
}

@media screen and (max-width: 370px) {
  .tabs-component [role="tablist"] button {
    font-family: 'Small Pixel7';
    padding: 0.2rem 0.5rem !important;
  }

  .tabs-component [role="tabpanel"] {
    padding: 1px 40px !important;
    height: 200px !important;
  }

  h3 {
    font-family: 'Small Pixel7';
    font-size: initial !important;
  }

  .mb-5{
    margin-bottom: 5px !important;
  }
  .mr-10 {
    margin-right: 5px !important;
  }
  .mt-10 {
    margin-top: 5px !important;
  }

  .tabs-component [role="tabpanel"] input, .deposit, .tabs-component [role="tabpanel"] button{
    height: 17px !important;
    font-size: 12px !important;
  }
}

.tabs-component [role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tabs-component [role="tablist"] button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: block;
  padding: 0rem 1rem;
  cursor: pointer;
  margin: 0 1px;
  outline: none;
  background-color: transparent;
  transition: border 0.2s ease-in-out 0s;
  font-weight: 100;
  font-family: 'Small Pixel7';
  font-size: xx-large;
}

.tabs-component [role="tablist"] button:first-child {
  border-right-width: 1px;
  border-right-color: rgb(226 187 139);
}

.tabs-component [role="tablist"] button:last-child {
  border-left-width: 1px;
  border-left-color: rgb(226 187 139);
}

.tabs-component [role="tablist"] button.active,
.tabs-component [role="tablist"] button:focus,
.tabs-component [role="tablist"] button:hover {
  text-shadow: rgb(152 125 23) 0px 1px, rgb(152 125 23) 0px 2px, rgb(119 90 44) 0px 3px;
}

.tabs-component [role="tablist"] button.active {
  text-shadow: rgb(152 125 23) 0px 1px, rgb(152 125 23) 0px 2px, rgb(119 90 44) 0px 3px;
}

.tabs-component [role="tabpanel"] {
  text-align: left;
  padding: 3rem;
  background-image: url(/assets/images/back1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.tabs-component [role="tabpanel"] h3 {
  font-family: "Small Pixel7";
  text-transform: capitalize;
  font-size: x-large;
}

.tabs-component.vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tabs-component.vertical [role="tablist"] {
  flex-direction: column;
}

.tabs-component.vertical [role="tabpanel"] {
  flex: 1;
}

.tabs-component [role="tablist"] button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

.tabs-component.vertical [role="tablist"] button.active,
.tabs-component.vertical [role="tablist"] button:focus,
.tabs-component.vertical [role="tablist"] button:hover {
  border-color: #e9ecef transparent #e9ecef #b41c1c;
}


.tabs-component [role="tabpanel"] input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  font-family: "Small Pixel7";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
  /* background-color: rgb(216, 160, 100); */
  border: solid rgb(216, 160, 100) 3px;
  box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
  -moz-box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
  -webkit-box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
}

.tabs-component [role="tabpanel"] input::placeholder {
  color: white;
}

.tabs-component [role="tabpanel"] button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  font-family: "Small Pixel7";
  font-size: 20px;
  position: relative;
  background: rgb(219, 163, 100);
  border: solid white 1px;
  box-shadow: 1px 0px 4px #666, 0 2px 2px rgb(188 148 4 / 20%), inset -1px 0px 2px 1px rgb(0 0 0 / 40%), inset 2px -1px 2px 1px rgb(255 255 255 / 70%);
}

.tabs-component [role="tabpanel"] .deposit {
  padding-left: 10px;
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  font-family: "Small Pixel7";
  font-size: 20px;
  background: rgb(219, 163, 100);
  border: solid white 1px;
  box-shadow: 1px 0px 4px #666, 0 2px 2px rgb(188 148 4 / 20%), inset -1px 0px 2px 1px rgb(0 0 0 / 40%), inset 2px -1px 2px 1px rgb(255 255 255 / 70%);
}

.bottomPanel {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  outline: 0;
  top: 100px;
  height: 65px;
  margin-left: -7%;
  margin-right: -7%;
  font-family: "Small Pixel7";
  font-size: 20px;
  padding-left: 20px;
  position: relative;
  border: solid rgb(90 68 44) 6px;
  box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
  -moz-box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
  -webkit-box-shadow: 0 1px 2px #666, 0 -1px 1px rgb(188 148 4 / 20%), inset 0 1px 1px rgb(0 0 0 / 40%), inset 0 -1px 1px rgb(255 255 255 / 70%);
}